body {
  background-color: whitesmoke;
}

.image-uploader {
  text-align: center;
}

.upload-image-btn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #d4524d;
  border: none;
  border-radius: 5px;
}

.upload-image-btn:hover {
  background-color: #a34149;
}

.upload-image-btn:active {
  background-color: #a34146;
  transform: translateY(4px);
}
